// dark theme colors
$pageColorDark:#141D2F;
$backgroundDark:#1E2A47;
$textColorDark:#bcc4c9;
$searchBackgroundDark:#18202e;
$blue:rgb(46, 46, 202);
// ligt theme colors
$lightBlue:#60ABFF;
$textColorLight:rgb(70, 66, 66);
$backgroundLight:rgb(238, 232, 232);